body {
  font-family: 'Sanchez', serif;
  /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
}

.cover{
  max-width: 850px;
  position: relative;
  height: 500px;
  margin: 0 auto;
  background: rgba(3, 22, 51, 0.3);
  background-size: cover;

}

.showcase{
  width: 100%;  
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;  
  position: absolute;
}

.text-muted {
  font-size: 1.5em;
}

.list-item {
  list-style-type: none;
}

.h4 {
  font-size: 2.2em;
}
.integrantes-text{
  font-size: 1.8em;
}

.picture {
  max-width: 250px;
  height: 250px;
}
.more ul {
  font-size: 1.2em;
}

/* .artist_name {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 160px;
  -webkit-transform: translate(-50%, -50%);  
  transform: translate(-50%, -50%);   
  border: 2px solid white;
}

.artist_name .wrapper {
  border: 2px solid white;
  height: 121px;
  margin: 6px;
  text-align: center;
  color: #fff;
  font-size: 40px;
  padding: 21px 70px 0px 70px;
  text-transform: uppercase;
} */



/* .images{
  margin-top: 20px;
  width: 1200px;
  min-height: 600px;
} */

@media only screen and (max-width: 600px) {
  .cover{
    max-width: 850px;
    position: relative;
    height: 350px;
    margin: 0 auto;
    background: rgba(2, 25, 61, 0.3);
    background-size: cover;
  }

  .integrantes-text{
    font-size: 1.0em;
  }
  
}